.cart {
  padding: 20px;
}

.cart h2 {
  text-align: center;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart button {
  background-color: #ff4565;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart button:hover {
  background-color: #ff1234;
}
